@{
    ViewData["Title"] = "Offers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="block-header">
    <div class="row">
        <div class="col-lg-12 col-md-6 col-sm-7">
            <h2>Offer Management</h2>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("AddOffer", "Offers")">Add Offer</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
            <div class="body">
                <table id="offer-datatable" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Name English</th>
                            <th>Name Arabic</th>
                            <th>Old Price</th>
                            <th>New Price</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>


@section Scripts
    {
    <script>
        $(document).ready(function () {
            $("#offer-datatable").DataTable({
                "processing": true,
                "serverSide": true,
                "filter": true,
                "ajax": {
                    "url": "/Offers/GetAllOffers",
                    "type": "POST",
                    "datatype": "json"
                },
                "columnDefs": [{
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                }],
                "columns": [
                    { "data": "id", "name": "Id", "autoWidth": true },
                    { "data": "offerNameEng", "name": "Name English", "autoWidth": true },
                    { "data": "offerNameArb", "name": "Name Arabic", "autoWidth": true },
                    { "data": "oldPrice", "name": "Old Price", "autoWidth": true },
                    { "data": "price", "name": "New Price", "autoWidth": true },
                    {
                        "render": function (data, row, d) {
                            return "<a href='/Offers/EditOffer/" + d.id + "' class='btn btn-sm btn-raised bg-teal waves-effect' ><i class='material-icons'>mode_edit</i> Edit</a> <button onclick=DeleteOffer(" + d.id + ") class='btn btn-sm btn-raised bg-cyan waves-effect' ><i class='material-icons'>block</i>Delete</button>";
                        }
                    }
                ]
            });
        });

        function DeleteOffer(id) {
            var reqObj = {
                Id: id
            };
            $.ajax({
                type: 'POST',
                url: '@Url.Action("DeleteOffer")',
                dataType: 'json',
                data: reqObj,
                success: function (data) {
                    if (data.isSuccess) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Success!!',
                            text: 'Offer Deleted Successfully!!'
                        })
                        location.reload(true);
                    }
                    else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Error!!',
                            text: 'Not changed!!'
                        })
                    }
                },
                error: function (ex) {

                }
            });
        }

    </script>
}