@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="block-header">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="col-lg-10 col-md-10 col-sm-10 float-left">
                <h2>Company Management</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">Company</li>
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Company")">Premium Companies</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 float-right">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("Add", "Company")" class="btn btn-raised btn-warning waves-effect">Add Company</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
            <div class="body">
                <table id="company-datatable" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Company Name</th>
                            <th>EmailAddress</th>
                            <th>Phone</th>
                            <th>Logo</th>
                            <th>Is Verified</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <script>
        $(document).ready(function () {
            $("#company-datatable").DataTable({
                "processing": true,
                "serverSide": true,
                "filter": true,
                "ajax": {
                    "url": "/Company/GetAllCompany",
                    "type": "POST",
                    "datatype": "json"
                },
                "columnDefs": [{
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                }],
                "columns": [
                    { "data": "id", "name": "Id", "autoWidth": true },
                    { "data": "nameEng", "name": "nameEng", "autoWidth": true },
                    { "data": "primaryEmail", "name": "primaryEmail", "autoWidth": true },
                    { "data": "primaryPhone", "name": "primaryPhone", "autoWidth": true },
                    {
                        "render": function (data, row, d) {
                            return "<img src='" + d.displayLogo + "' width='60' height='50' />";
                        }
                    },
                    {
                        "render": function (data, row, d) {
                            if (d.isVerified) {
                                return "<span>Yes</span>";
                            } 
                            else{
                                return "<span>No</span>";
                            }
                        }
                    },
                    {
                        "render": function (data, row, d) {
                            var btns = "<a href='/Company/Edit/" + d.id + "' class='icon' title='Edit'><i class='zmdi zmdi-edit'></i></a> | "+
                                "<a href='#' onclick=DeleteCompany(" + d.id + ") class='icon' style='color:red' title='Delete'><i class='zmdi zmdi-delete'></i></a>";
                            if (d.isVerified!=true) {
                            btns+=" | <a href='#' onclick=VerifyCompany(" + d.id + ",'approve') class='icon' style='color:green' title='Verify'><i class='zmdi zmdi-assignment-check'></i></a>" ;
                            } 
                            return btns;
                        }
                    }
                ]
            });
        });

        function VerifyCompany(id) {
            var reqObj = {
                Id: id
            };
            $.ajax({
                type: 'POST',
                url: '@Url.Action("VerifyCompany")',
                dataType: 'json',
                data: reqObj,
                success: function (data) {
                    if (data.isSuccess) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Success!!',
                            text: 'Company Verified Successfully!!'
                        })
                    }
                    else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Error!!',
                            text: 'Not changed!!'
                        })
                    }
                },
                error: function (ex) {

                }
            });
        }

        function DeleteCompany(id) {
            var reqObj = {
                Id: id
            };
            $.ajax({
                type: 'POST',
                url: '@Url.Action("DeleteCompany")',
                dataType: 'json',
                data: reqObj,
                success: function (data) {
                    if (data.isSuccess) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Success!!',
                            text: 'Company Deleted Successfully!!'
                        })
                    }
                    else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Error!!',
                            text: 'Not changed!!'
                        })
                    }
                },
                error: function (ex) {

                }
            });
        }

    </script>
}


