@model CommonService.RequestModel.CategoriesRequestModel

@{
    ViewData["Title"] = "CategoryAdd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="block-header">
    <div class="row">
        <div class="col-lg-12 col-md-6 col-sm-7">
            <h2>Add Category</h2>
            <ul class="breadcrumb">
                <li class="breadcrumb-item">Masters</li>
                <li class="breadcrumb-item"><a href="@Url.Action("Category", "Home")">Categories</a></li>
                <li class="breadcrumb-item"><a href="@Url.Action("CategoryAdd", "Home")">Add Category</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-lg-12">
        <div class="card">
            <div class="header">
                <h2>Add Category Details</h2>
            </div>
            <div class="body">
                <form id="wizard_with_validation" asp-controller="Home" asp-action="AddEditCategory">
                    <h3>Basic Info</h3>
                    <fieldset>
                        <div class="row">
                            <div class="col-md-4">
                                <img id="img" style="width:250px; height:170px;" />
                                <div class="fallback">
                                    <input name="file" id="imageinput" type="file" multiple />
                                    <input type="hidden" id="Icon" name="Icon" asp-for="Icon" />
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input asp-for="NameEng" type="text" class="form-control" name="NameEng" required>
                                        <label class="form-label">NameEng</label>
                                    </div>
                                    <span asp-validation-for="NameEng" class="text-danger"></span>
                                </div>
                            </div>
                            @*<div class="col-md-4">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input asp-for="NameArb" type="text" class="form-control" name="NameArb">
                                        <label class="form-label">NameArb</label>
                                    </div>
                                    <span asp-validation-for="NameArb" class="text-danger"></span>
                                </div>
                            </div>*@
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input asp-for="Unspsccode" type="text" class="form-control" name="Unspsccode">
                                        <label class="form-label">UNSPSC Code</label>
                                    </div>
                                    <span asp-validation-for="Unspsccode" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input type="email" class="form-control" name="PrimaryEmail">
                                        <label class="form-label">Search Term</label>
                                    </div>
                                    <span class="text-danger"></span>
                                </div>
                            </div>


                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group form-float">
                                    <div>
                                        <input type="checkbox" asp-for="SeoEnabled" id="SeoEnabled" name="SeoEnabled">
                                        <label for="SeoEnabled" class="form-label">SeoEnabled</label>
                                    </div>
                                    <span asp-validation-for="SeoEnabled" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group form-float">
                                    <div>
                                        <input type="checkbox" asp-for="IsPublished" name="IsPublished" id="IsPublished">
                                        <label for="IsPublished" class="form-label">IsPublished</label>
                                    </div>
                                    <span asp-validation-for="IsPublished" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group form-float">
                                    <div>
                                        <input type="checkbox" asp-for="IsFeatured" id="IsFeatured" name="IsFeatured">
                                        <label for="IsFeatured" class="form-label">IsFeatured</label>
                                    </div>
                                    <span asp-validation-for="IsFeatured" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <h3>SEO</h3>
                    <fieldset>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input asp-for="MetaTitleEng" type="text" class="form-control" name="MetaTitleEng">
                                        <label class="form-label">Meta Title Eng</label>
                                    </div>
                                    <span asp-validation-for="MetaTitleEng" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input asp-for="MetaDescriptionEng" type="text" class="form-control" name="MetaDescriptionEng">
                                        <label class="form-label">MetaDescriptionEng</label>
                                    </div>
                                    <span asp-validation-for="MetaDescriptionEng" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input asp-for="MetaTitleArb" type="text" class="form-control" name="MetaTitleArb">
                                        <label class="form-label">MetaTitle  Arb</label>
                                    </div>
                                    <span asp-validation-for="MetaTitleArb" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input asp-for="MetaDescriptionArb" type="text" class="form-control" name="MetaDescriptionArb">
                                        <label class="form-label">MetaDescription Arb</label>
                                    </div>
                                    <span asp-validation-for="MetaDescriptionArb" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input asp-for="Keywords" type="text" class="form-control" name="Keywords">
                                        <label class="form-label">Keywords</label>
                                    </div>
                                    <span asp-validation-for="Keywords" class="text-danger"></span>
                                </div>
                            </div>
                        </div>


                    </fieldset> 
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts
    {
    <script>
        $(document).ready(function () {
            uploadImage();
        });

        function uploadImage()
        {
           $('#imageinput').change(function () {
                var formdata = new FormData();
                var fileInput = document.getElementById('imageinput'); 
                    for (i = 0; i < fileInput.files.length; i++) { 
                        formdata.append(fileInput.files[i].name, fileInput.files[i]);
                    }
                formdata.append("imgtype", "CategoryIcon");
                    var xhr = new XMLHttpRequest();
                    xhr.open('POST', '/Upload/Upload');
                    xhr.send(formdata);
                    xhr.onreadystatechange = function () {
                        debugger;
                        if (xhr.readyState == 4 && xhr.status == 200) {
                        // $('#img').attr('src', JSON.parse(xhr.responseText)[0]);
                       // uploadedImage=JSON.parse(xhr.responseText)[0];
                        $('#Icon').val(JSON.parse(xhr.responseText)[0]);
                            //return JSON.parse(xhr.responseText)[0];
                        }
                    }
                    return "";
            });
           
        }
    </script>
    }